<div class="notice">
    <div class="notice-image">
        <img src="images/controller1.jpg" alt="controller">
    </div>
    <div class="notice-detail">
        <h4>John Romero is making Sigil 2, but he's using Doom 2 this time</h4>
        <p>It's the Doom creator's next return to his prior work.</p>
    </div>
</div>
<div class="notice">
    <div class="notice-image">
        <img src="images/controller2.jpg" alt="controller">
    </div>
    <div class="notice-detail">
        <h4>Security flaw for unlimited Steam Wallet funds found, fixed</h4>
        <p>A security researcher picked up a $7,500 bounty for the find.</p>
    </div>
</div>
<div class="notice">
    <div class="notice-image">
        <img src="images/controller3.jpg" alt="controller">
    </div>
    <div class="notice-detail">
        <h4>Boyfriend Dungeon will update with 'more accurate' content warning about stalking</h4>
        <p>Some players felt unprepared for elements of the main storyline in the sexy sword dating sim.</p>
    </div>
</div>