<div class="notice">
    <div class="notice-image">
        <img src="images/mouse1.jpg" alt="mouse">
    </div>
    <div class="notice-detail">
        <h4>Ladies speedrun for charity in Flame Fatales, kicking off August 15th</h4>
        <p>Games Done Quick's spinoff will raise money to educate young girls.</p>
    </div>
</div>
<div class="notice">
    <div class="notice-image">
        <img src="images/mouse2.jpg" alt="mouse">
    </div>
    <div class="notice-detail">
        <h4>Skate across a burning city for love in Fire Tonight</h4>
        <p>According to Mercury Research, AMD's x86 processor share is close to its all-time high.</p>
    </div>
</div>
<div class="notice">
    <div class="notice-image">
        <img src="images/mouse3.jpg" alt="mouse">
    </div>
    <div class="notice-detail">
        <h4>EA might ban beta leakers from Battlefield 2042 after release</h4>
        <p>The beta participants signed an NDA, and breaking it is going to have consequences.</p>
    </div>
</div>