<div class="notice">
    <div class="notice-image">
        <img src="images/keyboard1.jpg" alt="keyboard">
    </div>
    <div class="notice-detail">
        <h4>This decked out Aero 15 is way more laptop than you need, but it’s $1,100 off</h4>
        <p>Gigabyte's Aero 15 with a 4K display is deeply discounted right now, plus there's a sizable mail-in-rebate available.</p>
    </div>
</div>
<div class="notice">
    <div class="notice-image">
        <img src="images/keyboard2.jpg" alt="keyboard">
    </div>
    <div class="notice-detail">
        <h4>AMD claims its largest share of the overall x86 CPU market in 14 years</h4>
        <p>According to Mercury Research, AMD's x86 processor share is close to its all-time high.</p>
    </div>
</div>
<div class="notice">
    <div class="notice-image">
        <img src="images/keyboard3.jpg" alt="keyboard">
    </div>
    <div class="notice-detail">
        <h4>Hacker steals over $600M in cryptocurrency, returns over half of it</h4>
        <p>Over $340M has been given back as a very strange digital heist story continues to develop.</p>
    </div>
</div>