<div class="notice">
    <div class="notice-image">
        <img src="images/headphone1.jpg" alt="headphone">
    </div>
    <div class="notice-detail">
        <h4>Valve made an ad for the Steam Deck</h4>
        <p>Everyone else is treating this like news so I guess we should too. </p>
    </div>
</div>
<div class="notice">
    <div class="notice-image">
        <img src="images/headphone2.jpg" alt="headphone">
    </div>
    <div class="notice-detail">
        <h4>Get the Razer Kiyo Pro webcam for $50 off today</h4>
        <p>This webcam is now 25% below the usual price at both Amazon and Best Buy.</p>
    </div>
</div>
<div class="notice">
    <div class="notice-image">
        <img src="images/headphone3.jpg" alt="headphone">
    </div>
    <div class="notice-detail">
        <h4>The best choice for a high-end gaming router is marked way down right now</h4>
        <p>Save just under $89 on the Asus RT-AX88U, the best wireless router for gaming.</p>
    </div>
</div>